<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="col-sm-6">
    <div class="navbar-collapase">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/AddProject">Add Project</a>
        <a class="nav-item nav-link" routerLink="/AddTask">Add Task</a>
        <a class="nav-item nav-link" routerLink="/AddUser">Add User</a>
        <a class="nav-item nav-link" routerLink="/ViewTask">View Task</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <a class="navbar-brand navbar-center" href="#">Project Management Application</a>
  </div>
</nav>
<router-outlet></router-outlet>
